
/ Sidebar
/ Sidebar Button
.sidebar-button.shadowed.vcentered{:title => "Agregar grafico"}
  #arrow-container
    %p#arrow-char ◂
/ Sidebar Options
.sidebar.vcentered
  .sidebar-content.shadowed
    / Menu
    %ul
      %li.graph-type{:value => "popularTerms"}
        %a{:href => "#"}
          %i.fa.fa-plus-circle
          = t('charts.pt')
      %li.graph-type{:value => "trends"}
        %a{:href => "#"}
          %i.fa.fa-plus-circle
          = t ('charts.tr')
      %li.graph-type{:value => "network"}
        %a{:href => "#"}
          %i.fa.fa-plus-circle
          = t('charts.net')
      %li.graph-type{:value => "centrality"}
        %a{:href => "#"}
          %i.fa.fa-plus-circle
          = t('charts.ct')
      %li.graph-type{:value => "density"}
        %a{:href => "#"}
          %i.fa.fa-plus-circle
          = t('charts.ds')
      %li.graph-type{:value => "distance"}
        %a{:href => "#"}
          %i.fa.fa-plus-circle
          = t('charts.dt')


