/ Filter for data analysis modal
#data-analysis-filter.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h3#myModalLabel.modal-title
          = t('filters.title')
      .modal-body
        %h4
          = t('filters.sna.sn')
        %form
          .row
            .col-sm-9
              .btn-group{"data-toggle" => "buttons"}
                %label.btn.btn-default.active#sna-twitter-label
                  %input#sna-twitter-button{:name => "quality[25]", :type => "radio", :value => "twitter"}
                  Twitter
                %label.btn.btn-default#sna-kodu-label
                  %input#sna-kodu-button{:name => "quality[25]", :type => "radio", :value => "kodu"}
                  Kodu
        %br
        %h4
          = t('filters.sna.user')
        %form
          .form-group
            %input.form-control
        %br
        %h4
          = t('filters.sna.depth')
        %form
          .row
            .col-sm-9
              .btn-group{"data-toggle" => "buttons"}
                %label.btn.btn-default.active
                  %input#q158{:name => "quality[25]", :type => "radio", :value => "1"}
                    1
                %label.btn.btn-default
                  %input#q159{:name => "quality[25]", :type => "radio", :value => "2"}
                    2
                %label.btn.btn-default
                  %input#q160{:name => "quality[25]", :type => "radio", :value => "3"}
                    3
                %label.btn.btn-default
                  %input#q161{:name => "quality[25]", :type => "radio", :value => "4"}
                    4
                %label.btn.btn-default
                  %input#q162{:name => "quality[25]", :type => "radio", :value => "5"}
                    5
      .modal-footer
        %button.btn.btn-primary#sna-filter-apply{:type => "button"}
          = t('buttons.apply')
          / Filter for data analysis modal END